.select .main {
   border:1px solid black;
    display: inline-block;
    min-width: 80px;
    min-height: 20px;
}

.select .items {
    border:1px solid red;
    padding:5px ;
    position:absolute;
}

.item.selected {
    background-color: blue;
    color:white;
}